PORT=3000
APP_BASE_URL=http://localhost:3000
TZ=Europe/Rome

JWT_SECRET=metti_una_chiave_lunga_casuale
JWT_EXPIRE_MIN=60
ADMIN_EMAIL=admin@bixio.local
ADMIN_PASSWORD=changeme
RESET_DB=0

#DATABASE_URL=postgres://user:password@ep-xxxx.eu-west-1.aws.neon.tech/notebookdb

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=false
SMTP_FROM=Prenotazioni <noreply@scuola.test>
SMTP_DEBUG=0

#SQLITE_PATH=./data/notebook-booking.db
